:root {
  --wrapper-default-bg: rgba(0, 0, 0, 0.2);
  --background-light: #ffe3b1;
  --sidebar-width: 70%;
  --sidebar-collapsed-width: 0px;
  --sidebar-bg: rgba(0, 0, 0, 0.8);
  --secondary-color: #1f77b4;
  --primary-color: #ff7f0e;

  --voltage-color: #ff5733;
  --voltage-darker-color: #b32b10; /* Darker shade for checkbox */
  --current-color: #33ff57;
  --current-darker-color: #0bb329;
  --power-color: #3375ff;
  --power-darker-color: #0c42ad;
  --frequency-color: #ff33a6;
  --frequency-darker-color: #bb066a;
  --energy-color: #ffdd33;
  --energy-darker-color: #b99c09;
  --temperature-color: #33fff2;
  --temperature-darker-color: #069b91;
  --power-factor-color: #a633ff;
  --power-factor-darker-color: #560994;
  --consumption-color: #ff3333;
  --consumption-darker-color: #920b0b;
}

body {
  font-family: "Roboto", serif;
  background-color: var(--background-light);
}

/** Sidebar filter menu **/

.sidebar-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--sidebar-bg);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  transition: width 0.3s ease-in-out;
}

.sidebar-menu.collapsed {
  width: var(--sidebar-collapsed-width);
}

/* Hide the content (checkboxes, time selection, and clocks) when collapsed */
.sidebar-menu.collapsed #checkbox-section,
.sidebar-menu.collapsed #time-selection-section,
.sidebar-menu.collapsed .clock-container {
  display: none !important; /* Ensure the content is hidden */
}

.open-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
  display: block; /* Ensure the button is always visible */
  border: none;
}

#time-selection-section h3 {
  color: var(--primary-color);
}

/** Checkbox **/

.checkbox-choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding-top: 15px;
}

/***********************TIME SELECTION*************************/

/** WEEK SELECTION **/
#time-selection-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#time-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  border-radius: 5px;
}

.month-container {
  display: inline-block;
  text-align: left;
}

.time-button {
  margin: 2px;
}

.time-button {
  background-color: var(--wrapper-default-bg);
  color: white;
  border: none;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 100;
}

.time-button:hover {
  background-color: var(--secondary-color);
}

.time-button.selected {
  background-color: var(--secondary-color);
}

.time-button.in-range {
  background-color: #4caf50; /* Green for weeks within the selected range */
}

.time-button.selected.in-range {
  background-color: #388e3c; /* Darker green for selected weeks within range */
}

.month-container h3 {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 14px;
  color: var(--primary-color);
}

.date-label {
  font-weight: 200;
  fill: #c4c4c4;
}

/** TIMELINE **/

#timeline {
  height: 80px;
  background-color: var(--wrapper-default-bg);
  border-radius: 15%;
}
#timeline-selection-section {
  margin: 7px 0px;
}
#timeline-selection-section h3 {
  margin-bottom: 10px;
}

/** Clock **/

.clock-container {
  display: flex;
  justify-content: space-around;
}

.clock-wrapper {
  text-align: center;
}

#start-clock,
#end-clock {
  background: var(--wrapper-default-bg);
  border-radius: 50%;
}

.hour-hand {
  transform-origin: 50% 50%;
  transition: all 0.1s;
  color: #80757a;
}

/** Main content **/

#main-content {
  margin-left: 40px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#line-chart-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#comsumption-section {
  justify-items: center;
  align-items: center;
}

#correlation-matrix-container {
  justify-self: center;
}

/* Styling for checked state */

#voltage-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--voltage-darker-color);
}

#current-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--current-darker-color);
}

#power-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--power-darker-color);
}

#frequency-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--frequency-darker-color);
}

#energy-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--energy-darker-color);
}

#temperature-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--temperature-darker-color);
}

#consumption-checkbox:checked ~ .checkbox-wrapper {
  background-color: var(--consumption-darker-color);
}
